<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.konstantin.schubert.workload" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!--I would like to get rid of some of the following permissions when the app is finished-->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service android:name=".sync.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <service
            android:name=".sync.SyncSettingChangerService"
            android:exported="false"/>
        ...


        <provider
            android:name=".SurveyContentProvider"
            android:authorities="de.tu-dresden.zqa.survey"
            android:exported="false"
            android:syncable="true" >
        </provider>

        <activity
            android:name=".activities.Calendar"
            android:label="@string/title_activity_calendar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WebLoginActivity"
            android:label="@string/title_activity_web_login">
        </activity>

        <activity
            android:name=".activities.About"
            android:parentActivityName=".activities.Calendar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Calendar" />
        </activity>

        <activity
            android:name=".activities.Statistics"
            android:parentActivityName=".activities.Calendar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Calendar" />
        </activity>



        <activity
            android:name=".activities.ManageLectures"
            android:parentActivityName=".activities.Calendar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Calendar" />
        </activity>

        <activity
            android:name=".activities.AddLectureChooseSemester"
            android:parentActivityName=".activities.ManageLectures"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ManageLectures" />
        </activity>

        <activity
            android:name=".activities.AddLecture"
            android:parentActivityName=".activities.AddLectureChooseSemester"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.AddLectureChooseSemester" />
        </activity>

        <activity
            android:name=".activities.PrivacyAgreement"
            android:parentActivityName=".activities.Calendar"
            android:launchMode="singleTop"
            android:label="Datenschutzerklärung">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Calendar" />
        </activity>

        <activity
            android:name=".activities.SelectLecture"
            android:parentActivityName=".activities.Calendar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Calendar" />
        </activity>
        <activity
            android:name=".activities.EnterWorkload"
            android:parentActivityName=".activities.SelectLecture"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SelectLecture" />
        </activity>

    </application>

</manifest>
