<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.konstantin.schubert.workload" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!--<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme" >
        <activity
            android:name=".calendar"
            android:label="@string/title_activity_calendar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".SurveyContentProvider"
            android:authorities="de.tu-dresden.zqa.survey"
            android:exported="false"
            android:syncable="true" >
        </provider>

        <activity
            android:name=".SelectLecture"
            android:parentActivityName=".calendar"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.konstantin.schubert.workload.calendar" />
        </activity>
        <activity
            android:name=".EnterWorkload"
            android:parentActivityName=".SelectLecture"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gmail.konstantin.schubert.workload.SelectLecture" />
        </activity>

        <service
            android:name="com.gmail.konstantin.schubert.workload.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>
